@page
@model Arcanum.Pages.ArtistModel

@if (Model.Artist != null)
{
    ViewData["Title"] = Model.Artist.Name;
    <div id="artist-container">
        <div class="container-one">
            <div>
                <figure>
                    <figcaption>@Model.Artist.Name</figcaption>
                    <img src="@Model.Artist.ProfileImageUri" />
                </figure>
            </div>
            <div>
                <i>Booking</i>
                <i>Instagram</i>
            </div>
        </div>

        <div class="container-two">
            <p>@Model.Artist.Intro</p>
        </div>

        <div class="container-three">
            @foreach (var portfolio in Model.Artist.ArtistPortfolios)
            {
                if (portfolio.Portfolio.Display)
                {
                    <h2>@portfolio.Portfolio.Title</h2>
                    <p>@portfolio.Portfolio.Intro</p>
                    @foreach (var image in portfolio.Portfolio.PortfolioImage)
                    {
                        <img src="@image.Image.ThumbnailUrl" />
                    }
                }
            }
        </div>
    </div>

    <div>
        <a asp-area="" asp-page="Booking" asp-route-artistId="@Model.Artist.Id">Booking</a>
    </div>

    @if (User.IsInRole("WizardLord") || (User.IsInRole("ArtistAdmin") && Model.Artist.Id == Model.UserId))
    {
        <partial name="_AdminButton" />
    }



    @if (User.IsInRole("WizardLord") || (User.IsInRole("ArtistAdmin") && Model.Artist.Id == Model.UserId))
    {
        <div class="admin-outer artist-admin @(Model.ActiveAdmin ? "" : "hide-me")">
            <div class="admin-inner">
                <partial name="Admin/_ArtistPage" />
                <partial name="Admin/_ArtistPortfolio" />
            </div>
            <i class="site-button close-outer-admin">close</i>
            <i class="x-close-button close-outer-admin">X</i>
        </div>
    }
}
else
{
    <div>select an artist</div>
    <ul>
        @await Component.InvokeAsync("ArtistNav")
    </ul>
}

<div class="fullscreen-fade @(Model.ActiveAdmin ? "" : "hide-me")"></div>