@page
@model Arcanum.Pages.ArtistModel
@{
    ViewData["Title"] = Model.Artist.Name;
}

@if (Model.Artist != null)
{
    <div><img src="@Model.Artist.ProfileImageUri" /></div>

    <div>@Model.Artist.Name</div>
    <div>@Model.Artist.Intro</div>
    <div>@Model.Artist.Instagram</div>

    @foreach (var portfolio in Model.Artist.ArtistPortfolios)
    {
        if (portfolio.Portfolio.Display)
        {
            <h2>@portfolio.Portfolio.Title</h2>
            <p>@portfolio.Portfolio.Intro</p>
            @foreach (var image in portfolio.Portfolio.PortfolioImage)
            {
                <img src="@image.Image.ThumbnailUrl" />
            }
        }
    }

    <div>
        <a asp-area="" asp-page="Booking" asp-route-artistId="@Model.Artist.Id">Booking</a>
    </div>

    @if (User.IsInRole("WizardLord") || (User.IsInRole("ArtistAdmin") && Model.Artist.Id == Model.UserId))
    {
        <partial name="Admin/_ShowPopUp" />
    }



    @if (User.IsInRole("WizardLord") || (User.IsInRole("ArtistAdmin") && Model.Artist.Id == Model.UserId))
    {
        <div class="fullscreen admin-outer artist-admin @(Model.ActiveAdmin ? "" : "hide-me")">
            <div class="admin-inner">
                <partial name="Admin/_ArtistPage" />
                <partial name="Admin/_ArtistPortfolio" />
            </div>
            <partial name="Admin/_ClosePopUp" />
        </div>
    }
}
else
{
    <div>select an artist</div>
    <ul>
        @await Component.InvokeAsync("ArtistNav")
    </ul>
}

