@page
@model Arcanum.Pages.BookingModel
@{
}


@if (Model.Booking != null)
{
    <h1>Booking</h1>

    <div>Booking for @Model.Artist.Name</div>

    <div>@Model.Booking.BookingInfo.</div>
    <div>@Model.Booking.BookingEmail.</div>
    <div>@Model.Artist.Instagram</div>

    @if (User.IsInRole("WizardLord") || (User.IsInRole("ArtistAdmin") && Model.Artist.Id == Model.UserId))
    {
        <partial name="Admin/_ShowPopUp" />
    }

    @if (User.IsInRole("WizardLord") || (User.IsInRole("ArtistAdmin") && Model.Artist.Id == Model.UserId))
    {
        <div class="fullscreen admin-outer booking-page-admin @(Model.ActiveAdmin ? "" : "hide-me")">
            <div class="admin-inner">
                <partial name="Admin/_ArtistBooking" />
            </div>
            <partial name="Admin/_ClosePopUp" />
        </div>
    }
}
else
{
    <ul>
        @await Component.InvokeAsync("ArtistNav")
    </ul>
}