@page
@model Arcanum.Pages.BookingModel
@{
    ViewData["Title"] = $"{Model.Artist.Name}'s Booking";
}


@if (Model.Booking != null)
{
    <div id="booking-container">
        <div class="container-one">
            <h1>Booking for @Model.Artist.Name</h1>
            <p>@Model.Booking.BookingInfo</p>
            <a asp-page="Artist" asp-route-artistId="@Model.Artist.Id">
                <i class="site-button">Back to Gallery</i>
            </a>
        </div>

        <div class="container-two">
            <h2>Contact Form</h2>
            @Model.Booking.FormPlaceHolder
            @Model.Booking.BookingEmail
        </div>
    </div>

    @if (User.IsInRole("WizardLord") || (User.IsInRole("ArtistAdmin") && Model.Artist.Id == Model.UserId))
    {
        <i class="show-popup">admin</i>
    }

    @if (User.IsInRole("WizardLord") || (User.IsInRole("ArtistAdmin") && Model.Artist.Id == Model.UserId))
    {
        <div class="admin-outer booking-page-admin @(Model.ActiveAdmin ? "" : "hide-me")">
            <div class="admin-inner">
                <partial name="Admin/_ArtistBooking" />
            </div>
            <i class="site-button close-outer-admin">close</i>
            <i class="x-close-button close-outer-admin">X</i>
        </div>
    }
}
else
{
    <ul>
        @await Component.InvokeAsync("ArtistNav")
    </ul>
}

<div class="fullscreen-fade @(Model.ActiveAdmin ? "" : "hide-me")"></div>