@page
@model Arcanum.Pages.MovingImagesTestModel
@Html.AntiForgeryToken()

<div id="modify-view-command">
    <button id="save-view-preferences" class="t-button">Save</button>
</div>

<div id="modify-view-elements">
    <ul id="sortable">
        @foreach (var item in Model.Things.Items)
        {
            <li class="temp-boxes">
                <span id="sort-updown"></span>
                @Html.CheckBox($"enable-{item.Id}", item.IsEnabled, new { @class = "enabled-flag" })
                @item.Description
                @Html.Hidden($"hidden-{item.Id}", item.Id, new { @class = "item-id" })
                @Html.Hidden($"desc-{item.Id}", item.Description, new { @class = "item-description" })
            </li>
        }
    </ul>
</div>