@page
@model Arcanum.Pages.TheStudioModel
@{
    ViewData["Title"] = "The Studio";
}

<div id="studio-container">
    <div class="container-one">
        <figure>
            <img />
        </figure>
        <div>
            <address>@Model.StudioInfo.Address</address>
            <p>contact</p>
        </div>
        <div>
            <i>instagram</i>
            <i>policies</i>
            <i>aftercare</i>
            <i>location</i>
        </div>
    </div>

    <div class="container-two">
        <p>@Model.StudioInfo.Intro</p>
    </div>

    <div class="container-three">


    </div>
    <div>@Model.StudioInfo.Instagram</div>
    <div></div>
    <div></div>
    <div>@Model.StudioInfo.Policies</div>
    <div>@Model.StudioInfo.Aftercare</div>

    @foreach (var image in Model.StudioInfo.StudioImages)
    {
        <img src="@image.Image.ThumbnailUrl" />
    }
</div>


@if (User.IsInRole("WizardLord"))
{
<i class="show-popup">admin</i>
}

@if (User.IsInRole("WizardLord"))
{
    <div class="admin-outer studio-page-admin @(Model.ActiveAdmin ? "" : "hide-me")">
        <div class="admin-inner">
            <partial name="Admin/_StudioPage" />
        </div>
        <i class="button close-outer-admin">close</i>
    </div>
}