@model Arcanum.Pages.ArtistModel
@using System.Linq
@Html.AntiForgeryToken()

<div id="artistPortfolio-admin" class="page-admin">
    <ul id="sortable-artist-portfolios">
        @foreach (var portfolio in Model.Artist.ArtistPortfolios)
        {
        <li>
            <div>
                <form asp-page-handler="UpdatePortfolio" method="post">
                    <label>
                        Title
                        <input type="text" asp-for="@Model.Portfolio.Title" value="@portfolio.Portfolio.Title" placeholder="@portfolio.Portfolio.Title" />
                    </label>
                    @{
                        int index = Model.Artist.ArtistPortfolios.IndexOf(@portfolio);
                    }
                    <label>
                        Intro
                        <textarea type="text" cols="45" rows="3" asp-for="@Model.Artist.ArtistPortfolios[@index].Portfolio.Intro" class="form-control" placeholder="@portfolio.Portfolio.Intro" name="intro"></textarea>
                    </label>
                    <label>
                        Display
                        <input type="checkbox" asp-for="@Model.Portfolio.Display" value="true" checked="@(portfolio.Portfolio.Display)">
                    </label>
                    <input type="hidden" asp-for="@Model.Portfolio.Id" value="@portfolio.Portfolio.Id" />
                    <input type="hidden" asp-for="@Model.Portfolio.AccordionId" value="@portfolio.Portfolio.AccordionId" />
                    <input type="hidden" asp-for="@Model.Portfolio.CollapseId" value="@portfolio.Portfolio.CollapseId" />
                    <input type="hidden" asp-for="@Model.Portfolio.AdminAccordionId" value="@portfolio.Portfolio.AdminAccordionId" />
                    <input type="hidden" asp-for="@Model.Portfolio.AdminCollapseId" value="@portfolio.Portfolio.AdminCollapseId" />
                    <input type="hidden" asp-for="@Model.Artist.Id" value="@Model.Artist.Id" />
                    <input type="hidden" asp-for="@Model.UserId" value="@Model.UserId" />
                    <input type="submit" value="update" class="loader site-button" />
                </form>
            </div>
            <div>
                <i class="delete-confirmation-button">X</i>
                <div class="delete-confirmation-container hide-me">
                    <div>
                        <form asp-page-handler="DeletePortfolio" method="post">
                            <input type="hidden" asp-for="@Model.Portfolio.Id" value="@portfolio.Portfolio.Id" />
                            <input type="hidden" asp-for="@Model.Artist.Id" value="@Model.Artist.Id" />
                            <input type="submit" value="delete" class="loader site-button" />
                            <i class="delete-confirmation-cancel">cancel</i>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <section>
                    <form asp-page-handler="AddImages" method="post" enctype="multipart/form-data">
                        <label>
                            <input name="files" type="file" multiple="multiple" accept="image/*" class="file-selection-input" required />
                            <input type="hidden" asp-for="@Model.Artist.Id" value="@Model.Artist.Id" />
                            <input type="hidden" asp-for="@Model.Portfolio.Id" value="@portfolio.PortfolioId" />
                            <input type="submit" value="Add Images" class="loader site-button" />
                        </label>
                    </form>
                </section>
                <section>
                    <ul id="sortable-portfolio-images">
                        @foreach (var image in portfolio.Portfolio.PortfolioImage)
                        {
                            <li>
                                <img src="@image.Image.ThumbnailUrl" />
                                <i class="delete-confirmation-button">X</i>
                                <div class="delete-confirmation-container hide-me">
                                    <div>
                                        <form asp-page-handler="DeleteImage" method="post">
                                            <input type="hidden" name="imageId" value="@image.Image.Id" />
                                            <input type="hidden" name="portfolioId" value="@portfolio.PortfolioId" />
                                            <input type="hidden" asp-for="@Model.Artist.Id" value="@Model.Artist.Id" />
                                            <input type="submit" value="confirm" class="loader site-button" />
                                            <i class="delete-confirmation-cancel">cancel</i>
                                        </form>
                                    </div>
                                </div>
                                <i class="update-image-info-button">ooo</i>
                                <div class="update-image-info-container hide-me">
                                    <div>
                                        <form asp-page-handler="UpdateImageInfo" method="post">
                                            <input type="text" name="title" placeholder="@image.Image.Title" />
                                            <input type="text" name="altText" placeholder="@image.Image.AltText" />
                                            <input type="hidden" name="imageId" value="@image.ImageId" />
                                            <input type="hidden" asp-for="@Model.Artist.Id" value="@Model.Artist.Id" />
                                            <input type="submit" value="update" class="site-button loader" />
                                            <i class="update-image-info-cancel">cancel</i>
                                        </form>
                                    </div>
                                </div>
                                @Html.Hidden($"image-id-{image.Image.Id}", image.Image.Id, new { @class = "image-id" })
                                @Html.Hidden($"image-order-{image.Order}", image.Order, new { @class = "image-order" })
                            </li>
                        }
                    </ul>
                    <div>
                        <button id="update-portfolio-image-order" class="site-button loader">Update Order</button>
                    </div>
                </section>
            </div>
        </li>
        }
    </ul>
    <section>
        <form asp-page-handler="AddPortfolio" method="post">
            <label>
                New Portfolio
                <input type="text" name="title" placeholder="new portfolio" required />
                <input type="hidden" asp-for="@Model.Artist.Id" value="@Model.Artist.Id" />
                <input type="hidden" asp-for="@Model.UserId" value="@Model.UserId" />
                <input type="submit" value="+" class="loader site-button" />
            </label>
        </form>
    </section>
</div>