@model IndexModel

<div id="mainpage-admin" class="page-admin">
    <section>
        <form asp-page-handler="Update" method="post">
            <label>
                Site Title
                <input type="text" asp-for="@Model.MainPage.SiteTitle" value="@Model.MainPage.SiteTitle" placeholder="@Model.MainPage.SiteTitle" />
            </label>
            <label>
                Intro A
                <textarea type="text" cols="45" rows="5" asp-for="@Model.MainPage.IntroA" class="form-control" placeholder="@Model.MainPage.IntroA"></textarea>
            </label>
            <label>
                Intro B
                <textarea type="text" cols="45" rows="5" asp-for="@Model.MainPage.IntroB" class="form-control" placeholder="@Model.MainPage.IntroB"></textarea>
            </label>
            <input type="hidden" asp-for="@Model.MainPage.Id" value="@Model.MainPage.Id" />
            <input type="submit" value="update" />
        </form>
    </section>
    <section>
        @for (int i = 0; i < 3; i++)
        {
            <div>
                <img src="@Model.MainPage.PageImage[i].Image.SourceUrl" alt="site-image" />
                <form asp-page-handler="DisplayImageToggle" method="post">
                    <label>
                        Display
                        <input type="checkbox" name="isDisplay" checked="@Model.MainPage.PageImage[i].Image.Display">
                        <input type="hidden" name="imageId" value="@Model.MainPage.PageImage[i].Image.Id" />
                        <input type="submit" value="toggle display" />
                    </label>
                </form>
            </div>
            <form asp-page-handler="UpdatePageImage" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" class="file-selection-input" />
                <input type="hidden" name="index" value="@i"/>
                <input type="submit" value="Add Images" />
            </form>
        }
    </section>
    <section>
        @foreach (var recentImage in Model.MainPage.RecentImage)
        {
            <img src="@recentImage.Image.ThumbnailUrl" />
            <form asp-page-handler="DeleteRecentImage" method="post">
                <input type="hidden" name="imageId" value="@recentImage.Image.Id" />
                <input type="hidden" name="arcanumMainId" value="@recentImage.ArcanumMainId" />
                <input type="submit" value="✖" />
            </form>
        }
    </section>
</div>
