@model Arcanum.Pages.TheStudioModel

<div id="studioPage-admin" class="page-admin">
    <section>
        <section>
            <form asp-page-handler="Update" method="post">
                <label>
                    Email
                    <input type="text" asp-for="@Model.StudioInfo.Email" placeholder="@Model.StudioInfo.Email" class="form-control"/>
                </label>
                <label>
                    Address
                    <input type="text" asp-for="@Model.StudioInfo.Address.Street" placeholder="@Model.StudioInfo.Address.Street" class="form-control" />
                    <input type="text" asp-for="@Model.StudioInfo.Address.City" placeholder="@Model.StudioInfo.Address.City" class="form-control" />
                    <input type="text" asp-for="@Model.StudioInfo.Address.State" placeholder="@Model.StudioInfo.Address.State" class="form-control" />
                    <input type="text" asp-for="@Model.StudioInfo.Address.ZipCode" placeholder="@Model.StudioInfo.Address.ZipCode" class="form-control" />
                    <input type="hidden" asp-for="@Model.StudioInfo.Address.AddressId" value="@Model.StudioInfo.Address.AddressId" />
                </label>
                <label>
                    Intro
                    <textarea type="text" cols="45" rows="3" asp-for="@Model.StudioInfo.Intro" class="form-control" placeholder="@Model.StudioInfo.Intro"></textarea>
                </label>
                <label>
                    Policies
                    <textarea type="text" cols="45" rows="3" asp-for="@Model.StudioInfo.Policies" class="form-control" placeholder="@Model.StudioInfo.Policies"></textarea>
                </label>
                <label>
                    Aftercare
                    <textarea type="text" cols="45" rows="3" asp-for="@Model.StudioInfo.Aftercare" class="form-control" placeholder="@Model.StudioInfo.Aftercare"></textarea>
                </label>
                <input type="text" asp-for="@Model.StudioInfo.Instagram" value="@Model.StudioInfo.Instagram" placeholder="@Model.StudioInfo.Instagram" />
                <input type="hidden" asp-for="@Model.StudioInfo.Id" value="@Model.StudioInfo.Id" />
                <input type="submit" value="update" />
            </form>
        </section>
    </section>
</div>
